/.minecraft/saves/
/.minecraft/build/
/.minecraft/.mixin.out/
/.minecraft/.modpack/
/.minecraft/crash-reports/
/.minecraft/logs/
/.minecraft/mods/
/.minecraft/shaderpacks/
/.minecraft/journeymap/data/
/.minecraft/journeymap/icon/
/.minecraft/journeymap/journeymap.log

/.minecraft/servers.dat
/.minecraft/reauth.toml
/.minecraft/usercache.json
/.minecraft/usernamecache.json
/.minecraft/patchouli_data.json
/.minecraft/realms_persistence.json
/.minecraft/config/jei/bookmarks.ini
/natives/
